@import url('http://fonts.googleapis.com/css?family=Sansita+One')

body
  background #fefefd

.btn-primary
  background #00b6e1
  border-color darken(#00b6e1, 10)
  
  &:hover
    background darken(#00b6e1, 10)
    
h1, h2, h3, h4
  font-family 'Sansita One'
  color #00b6e1
  
.no-margin
  margin-top 0
  
.login-close-text
  color #00b6e1!important
  
.additional-link
  color #00b6e1!important