.frontpage(ng-if='listings.all().length<1')
  section.light-bg
    .container.text-center
      h1 a Roof Over One's Head
      h3 is a great place to find your next house, or just to browse for inspiration
      .row
        .col-sm-4.margin-top
          .panel
            h4 Save Favorites
            img.enhance(src='images/59_1.jpg', style='max-width: 90%', price='45654')
            p.margin-top(style='max-width: 90%; text-align: left; margin-left: auto; margin-right: auto') When you find the house of your dreams you can save it to view later
        .col-sm-4.margin-top
          .panel
            h4 Love Images
            img.enhance(src='images/83_1.jpg', style='max-width: 90%')
            p.margin-top(style='max-width: 90%; text-align: left; margin-left: auto; margin-right: auto') Love and organize images for house hunting or for design inspiration
              | 
              span.label.label-warning Coming soon
        .col-sm-4.margin-top
          .panel
            h4 Share with Friends
            img.enhance(src='images/57_1.jpg', style='max-width: 90%', data-action='zoom')
            p.margin-top(style='max-width: 90%; text-align: left; margin-left: auto; margin-right: auto') Share and save your collections of houses and images
  section
    .container
      h4.secondary.text-center Featured listings
      .row
        .col-xs-12.col-sm-3(ng-repeat='listing in featured')
          a.panel(ng-href='{{listing.lister_url}}')
            h4 {{listing.title}}
            h4.secondary {{ listing.price_formatted }}
            img.thumbnail(ng-src='{{ listing.img_url }}', style='width: 90%', ng-click='listings.selectListingAndPic(listing, img_url)')
            p.margin-top {{ listing.summary }}