#login-buttons
  padding 10px 15px
  line-height 20px
  
@media (min-width: 768px)
  #login-buttons
    padding-top 15px
    padding-bottom 15px
    
.navbar-default
  background-color rgba(0,0,0,0.7)
  
  .navbar-brand
    color rgba(0, 182, 225, 1)
    font-family 'Sansita One'
    font-size 2.6rem
    
    &:hover
      color #fff
      
    &:active
      color #fff
    &:visited
      color rgba(0, 182, 225, 1)
      
  .navbar-nav li a
    color #fff
    
    &:hover
      color rgba(0, 182, 225, 1)
    &:visited
      color #fff