.main.container
  .row
    .panel
      form.form-inline(ng-submit='reload()')
        .col-sm-4.margin-top.margin-bottom
          .input-group(style='width:100%')
            input.form-control(type='text', ng-model='storage.area', placeholder='Areas, seperated by commas')
            .input-group-btn
              input.btn.btn-primary(type='submit', value='Search')
        .col-sm-4.margin-top.margin-bottom.text-right
          .btn-group
            label.btn.btn-primary(ng-model='storage.listing_type', btn-radio="'buy'", ng-click='reload()') Buy
            label.btn.btn-primary(ng-model='storage.listing_type', btn-radio="'rent'", ng-click='reload()') Rent
            label.btn.btn-primary(ng-model='storage.listing_type', btn-radio="'share'", ng-click='reload()') Share
        .col-sm-4
          div(range-slider='', model-min='priceRange.min', model-max='priceRange.max', min='1', max='150', filter="rangeFilter:'£'", show-values='true')
  .row
    .col-sm-8.margin-bottom
      .selected-image.text-center(ng-show='listings.selectedImage()', ng-click='listings.selectImage(undefined)')
        img(ng-src='{{listings.selectedImage()}}', title='Click to close')
        a.close-btn(href='') &times;
      ui-gmap-google-map(center='listings.map().center', zoom='listings.map().zoom', bounds='listings.map().bounds', ng-hide='listings.selectedImage()')
        ui-gmap-marker(idKey='listings.selectedListing().guid', coords='listings.selectedListing()', ng-if='listings.selectedListing()')
        ui-gmap-marker(ng-repeat="listing in listings.all() | unique:'guid' | inPriceRange:priceRange | filter:filter", idKey='listing.lister_url', coords='listing', icon='{url:listing.thumb_url}', options="{title:listing.title + ': ' + listing.price_formatted, class:'icon'}", click='selectListing(listing)', ng-if='!isHidden(listing)')
    selected-property
    .col-sm-4
      h4.text-center(ng-show='listings.loading()') Loading properties...&nbsp;&nbsp;
        i.fa.fa-spinner.fa-spin
.container.hidden-sm.margin-bottom.text-center(ng-include="'client/components/tradedoubler/tradedoubler.html'")
search-listings
frontpage
.container.hidden-sm.text-center.margin-top(ng-include="'client/components/tradedoubler/tradedoubler.html'")