.angular-google-map-container
  height 400px
  
.icon
  border 2px solid black
  
.greyed-out
  opacity 0.6
  
.selected-image
  background rgba(0,0,0,0.1)
  border 10px solid rgba(0,0,0,0.05)
  border-radius 4px
  padding 10px
  img
    max-width 100%
    cursor pointer
  .close-btn
    position absolute
    top 0
    right 28px
    color #fff
    font-size 3rem
    font-weight 900
    
.margin-bottom
  margin-bottom 10px
  
.margin-top
  margin-top 10px
  
.header-placeholder
  height 70px
  
.search-listings
  padding-top 20px
  clear both
  
  img
    max-width 100%
    cursor pointer
    
.scroller 
  white-space pre-line
  height 400px
  overflow-y hidden
  position relative

.selected-property
  img
    max-width 100%
    cursor pointer
    
.frontpage
  section
    margin-top 2rem
  .light-bg
    background rgba(0,0,0,0.04)