script.
  var td_id = "2515201";
  var td_format = "4,6,7";
  var td_epi = "";
  var td_size = "728x90";
  var td_lang = "";
  var td_method = "automatic";
  var td_keywords = "";
  var td_exclude = "";
script(type="text/javascript", id="td_ads", src="http://hst.tradedoubler.com/file/20649/contextual/cx2.js")