script.
  var td_id = "2515201";
  var td_method = "automatic";
  var td_format = "ctext_728x90";
  var td_lang = "";
  var td_keywords = "house,home,garden,mortgage,loan";
  var td_exclude = "";
  var td_epi = "";
  var td_bgcolor = "fefefd";
  var td_bordercolor = "0E5440";
  var td_linkcolor = "48A88D";
  var td_urlcolor = "0A4232";
  var td_textcolor = "0C261F";
  var td_align = "L";
  var td_rc = "N";
script(type="text/javascript", id="td_ads", src="http://hst.tradedoubler.com/file/20649/contextual/cx2.js")