.board-property
  .img-div
    .close
      position absolute
      top 5px
      right 5px
      background #fff
      border-radius 50%
      font-size 2rem
      line-height 1.6rem
      padding 3px
      display none
      opacity 0.8
      
    &:hover
      .close
        display block