.selected-property
  .scroller.col-sm-4(ng-nicescroll='', ng-show='listings.selectedListing()')
    .row
      h4.col-xs-12.no-margin {{ listings.selectedListing().title }} - &nbsp;
        a(ng-href='{{listings.selectedListing().lister_url}}', target='_Blank') Website
      .col-xs-12
        h5.pull-left {{ listings.selectedListing().price_formatted }}
        button.btn.btn-primary.pull-right.margin-bottom(ng-click='addToFavorites(listings.selectedListing())', ng-show='$root.currentUser && !isFavorite(listings.selectedListing())') Add to favorites
        button.btn.btn-disabled.pull-right.margin-bottom(ng-hide='$root.currentUser') Sign in to favorite
        h4.pull-right(ng-show='isFavorite(listings.selectedListing())')
          a(href='favorites') Favorite
      .listing.col-xs-6(ng-repeat='pic in listings.selectedListing().pics')
        img.thumbnail.enhance(ng-src='{{pic}}', style='height: 12rem; max-width: 100%', onerror="this.style.display='none'", ng-class='{first:$index===0}')
  .col-sm-4.greyed-out(ng-hide='listings.selectedListing()')
    div(ng-show='listings.all().length>0')
      .row
        h4.col-xs-12.no-margin Click an image on the map
        h5.col-xs-12 and the selected property will show here
        .listing.col-xs-6.hidden-xs(ng-repeat='pic in [1,2,3,4]')
          img.thumbnail(ng-src='http://placehold.it/160x123?text=Image', style='width: 100%')
    div(ng-hide="listings.all().length>0 || response.application_response_code==='202'")
      .row
        h4.col-xs-12.no-margin.secondary Search for an area to get started
        p.col-xs-12 Browse UK properites quickly and simply.
        p.col-xs-12 Enter a comma seperated list of the areas you are interested in then use the price slider above to narrow down the results.
        p.col-xs-12 Sign in to save favorites.
      div(ng-show="listings.response().application_response_code==='202'")
        h4.no-margin Area not found
        h5 Did you mean...?
        div(ng-repeat='location in listings.response().locations')
          h4 
            a(href='', ng-click='searchFor(location.place_name)') {{ location.long_title }}