.favorites-list.container(ng-show='$root.currentUser._id')
  .col-sm-10
    h1 Favorites
    .search-listings(ng-show='favorites.length > 0')
      .row
        .col-sm-6.margin-bottom
          .btn-group(dropdown='', is-open='status.isopen')
            button.btn.btn-primary.dropdown-toggle(dropdown-toggle='') 
              span(ng-show="storage.sort==='price'") Cheapest first&nbsp;
              span(ng-show="storage.sort==='-price'") Most expensive first&nbsp;
              span(ng-show="storage.sort==='location_accuracy'") Relevance&nbsp;
              span(ng-show="storage.sort==='-dateFavorited'") Date favorited&nbsp;
              span.caret
            ul.dropdown-menu(role='menu')
              li 
                a(href='', ng-click="storage.sort='price'") Cheapest first
              li 
                a(href='', ng-click="storage.sort='-price'") Most expensive first
              li 
                a(href='', ng-click="storage.sort='location_accuracy'") Relevance
              li
                a(href='', ng-click="storage.sort='-dateFavorited'") Date favorited
          .btn-group
            label.btn.btn-primary(ng-model='storage.favorite_type', btn-radio="'buy'", ng-click='reload()') Buy
            label.btn.btn-primary(ng-model='storage.favorite_type', btn-radio="'let'", ng-click='reload()') Rent
            label.btn.btn-primary(ng-model='storage.favorite_type', btn-radio="'share'", ng-click='reload()') Share
            label.btn.btn-primary(ng-model='storage.favorite_type', btn-radio="''", ng-click='reload()') All
        .col-sm-6.margin-bottom
          input.form-control(type='text', ng-model='filter', placeholder='Search within results')
      .col-xs-12.panel.panel-default(ng-repeat="listing in favorites | unique:'guid' | filter:filter | orderBy:storage.sort | filter:{listing_type:storage.favorite_type}")
        a(name='{{ listing.guid }}')
          .row
            .col-sm-6
              h4
                a(href='', ng-click='selectListingAndImage(listing, null)') {{ listing.title }}
              h5 {{ listing.summary }}
                | 
                a(ng-href='{{listing.lister_url}}', target='_Blank') Website
              .row(ng-show='listing.editingTags===true')
                .col-sm-10
                  tags-input(ng-model='listing.tags', style='width: 100%')
                    auto-complete(source='loadTags($query)', min-length='1')
                .col-sm-2
                  input.btn.btn-primary(type='button', value='Done', style='margin-top: 4px', ng-click='tagsChanged(listing)')
              .row.margin-bottom(ng-hide='listing.editingTags===true')
                .col-sm-12.margin-bottom
                  span.label.label-primary(ng-repeat='tag in listing.tags') {{tag.text}}
                  a(href='', ng-show='listing.tags.length>0', ng-click='listing.editingTags = true') Edit tags
                  a(href='', ng-hide='listing.tags.length>0', ng-click='listing.editingTags = true') Add tags
            .col-sm-6.text-right   
              h4 {{ listing.price_formatted }}
              button.btn.btn-primary.pull-right.margin-bottom(ng-click='removeFromFavorites(listing)') Remove from favorites
          .row
            .listing.col-sm-2(ng-repeat='pic in listing.pics')
              .afkl-lazy-wrapper.afkl-img-ratio-1-1.thumbnail(afkl-lazy-image='{{pic}}', ng-click='selectListingAndImage(listing, pic)')
              //img.thumbnail(ng-src='{{pic}}', style='height: 12rem; max-width: 100%', onerror="this.style.display='none'")
            .listing.col-sm-2
              img.thumbnail(ng-src='{{ listing.img_url }}', ng-hide='listing.pics.length>0' style='width: 100%')
    .no-results(ng-hide='favorites.length > 0')
      p You have no favorites yet
  .col-sm-2
    h2(style='margin-top: 26px') Boards
    .row(ng-repeat='tag in propertyTags', ng-show='(favorites | filter:{tags:{text:tag.text}}).length>0')
      .col-xs-12
        a.label.label-primary(href='board/p/{{$root.currentUser._id}}/{{tag.text}}') {{ tag.text }}
      .col-xs-12.panel.panel-default(style='padding-top: 6px; padding-bottom: 6px')
        .row
          div(ng-repeat="listing in favorites | filter:{tags:{text:tag.text}}", style='display:inline-block; margin:3px')
            img(ng-src='{{ listing.img_url }}', style='height: 41px; max-width: 100%', title='{{listing.title}}')
    .row(ng-show='!propertyTags.length')
      .col-xs-12
        p Add tags to some properties to start making and sharing boards